html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
  display: inline-flex;
}

div {
}

.header{
  height: 69px;
  width: 1240px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  z-index: 1;
  top: 0;
}


.logo img {
  margin-left: 10px;
  height: 50px;
}

nav {
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

nav a {
  color: seashell;
  margin: 10px;
}

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 69px;
  margin: 0 20px;
}

.mission .text {
  background-color: black;
  width: 1200px;

}

.featured {
text-align: center;
margin: 0 120px;
}

.featured #description {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.images img {
  height: 200px;
  flex-basis: 300px;

}

}

.images h4{
  margin: 10px;
}

.images {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  margin: 0 20px;
}

.locations h2 {
  width: 1200px;
  margin-bottom: 0;
  padding-top: 100px;
}

.locations .box {
  width: 300px;
  margin: 15px 20px;
  background-color: black;
  display: inline-block;
  opacity: 1;
}

.footer {
  height: 200px;
  width: 1200px;
  margin: 0 20px;

}

.copyright {
  text-align: left;
  margin-left: 20px;
}
